<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curency Converter</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

    <h1>Currency Converter</h1>

    <form id="currencyForm" method="post">
        <label for="currencyOne">Curency One</label>
        <select id="currencyOne" name = "currencyOne">
            <% for(let i = 0; i < currencies.length; i++) { %>
                <option value="<%= currencies[i] %>"><%= currencies[i] %></option>
            <% } %>
        </select>

        <input id="submit" type="submit" value="Convert" formaction="/convert-currency">
    </form>
    
</body>
</html>